<nav
  class="navbar navbar-dark bg-dark shadow navbar-expand-lg py-3 topbar justify-content-between fixed-top"
  style="height: 10vh"
>
  <div class="container">
    <a (click)="defHome()" class="navbar-brand">
      <img
        src="../assets/logo.png"
        width="45"
        alt=""
        class="d-inline-block align-middle mr-2"
      />
      <span class="text-uppercase font-weight-bold text-white"
        >Food Delivery</span
      >
    </a>

    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/productos" routerLinkActive="active" class="nav-link"
            >Productos</a
          >
        </li>
        <li *ngIf="this.cookieService.get('Tipo') == '1'" class="nav-item">
          <a routerLink="/Home/Admin" routerLinkActive="active" class="nav-link"
            >Ordenes</a
          >
        </li>
        <li *ngIf="this.cookieService.get('Tipo') == '2'" class="nav-item">
          <a
            routerLink="/Home/Cliente"
            routerLinkActive="active"
            class="nav-link"
            >Ordenes</a
          >
        </li>
        <li *ngIf="!this.cookieService.get('Tipo')" class="nav-item">
          <a routerLink="register" routerLinkActive="active" class="nav-link"
            >Registro</a
          >
        </li>
        <li *ngIf="!this.cookieService.get('Tipo')" class="nav-item">
          <a
            [routerLink]="'login'"
            routerLinkActive="active"
            class="nav-link"
            id="login-option"
            >Iniciar sesion</a
          >
        </li>
        <!-- <li class="nav-item"><a routerLink="#" routerLinkActive="active" class="nav-link">Team</a></li> -->

        <li *ngIf="this.cookieService.get('Tipo')" class="nav-item">
          <a
            routerLink="/updateMyInfo"
            routerLinkActive="active"
            class="nav-link"
            >Actualizar mi perfil</a
          >
        </li>
        <li *ngIf="this.cookieService.get('Tipo')" class="nav-item">
          <a
            routerLink=""
            routerLinkActive="active"
            class="nav-link"
            (click)="logout()"
          >
            <i class="fas fa-power-off"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  id="page-content"
  style="margin-top: 20vh; margin-bottom: 5vh; height: 100vh"
>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<footer
  class="d-flex justify-content-center align-items-center bg-secondary text-light fixed-bottom"
  style="height: 5vh; margin-top: 50px"
>
  <span>Copyright © Food Delivery 2021</span>
</footer>
