<div>
  <h1>Mis ordenes</h1>
  <hr />
  <div class="grid-container">
    <div *ngFor="let orden of ordenes" class="grid-item">
      <div class="card">
        <h4>Orden {{ orden.id_orden }}</h4>
        <hr />
        <h5>Resumen:</h5>
        <p>Nombre: {{ orden.nombre }}</p>
        <p>Nit: {{ orden.nit }}</p>
        <p><b>Total: Q.</b> {{ orden.total }}</p>
        <hr />
        <p>Direccion de entrega: {{ orden.direccion }}</p>
        <p>Fecha de entrega: {{ orden.fecha.slice(0, 10) }}</p>
        <button
          *ngIf="orden.id_estado_orden == 1"
          style="margin: 10px"
          disabled
          class="btn btn-success"
        >
          Estado: Nueva orden
        </button>
        <button
          *ngIf="orden.id_estado_orden == 2"
          style="margin: 10px"
          disabled
          class="btn btn-primary"
        >
          Estado: En preparacion
        </button>
        <button
          *ngIf="orden.id_estado_orden == 3"
          style="margin: 10px"
          disabled
          class="btn btn-warning"
        >
          Estado: En camino
        </button>
        <button
          *ngIf="orden.id_estado_orden == 4"
          style="margin: 10px"
          disabled
          class="btn btn-info"
        >
          Estado: Entregada
        </button>
        <button
          *ngIf="orden.id_estado_orden == 5"
          style="margin: 10px"
          disabled
          class="btn btn-danger"
        >
          Estado: Cancelada
        </button>
        <button
          *ngIf="orden.id_estado_orden == 6"
          style="margin: 10px"
          disabled
          class="btn btn-secondary"
        >
          Estado: Pagada
        </button>
        <button
          *ngIf="orden.id_estado_orden == 2"
          (click)="orden.id_estado_orden = 5; cancelar(orden)"
          style="margin: 10px"
          class="btn btn-danger"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
    text-align: center;
  }
</style>
