<div style="align-content: center;" >
  <h1>Bienvenido a Food Delivery</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="https://dam.cocinafacil.com.mx/wp-content/uploads/2020/04/comida-china-tipica.jpg"
          style="width: 100%; height: 500px"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Ve nuestras opciones</h1>
        <h3>Puedes ordenar directamente! 👌</h3>
        <button class="btn btn-primary" (click)="verProductos()" type="button">
          Ver productos
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="https://picsum.photos/id/1080/720"
          style="width: 100%; height: 500px"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Registrate!</h1>
        <h3>Puedes registrarte para hacer un seguimiento de tus ordenes 😎</h3>
        <button class="btn btn-warning" (click)="ifRegistro()" type="button">
          Registrarme
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="https://static-cse.canva.com/blob/202899/Fotografiadecomida.jpg"
          style="width: 100%; height: 500px"
          alt="Random third slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Inicia Sesion!</h1>
        <h3>
          Ya tienes una cuenta? Inicia sesion y ve el estado de tus ordenes 😉
        </h3>
        <button class="btn btn-success" (click)="irLogin()" type="button">
          Iniciar Sesion
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
