<div>
  <h1>Dashboard Administrador</h1>
  <hr />
  <h4>Crear Producto</h4>
  <button class="btn btn-info" (click)="crearProducto()">Crear</button>
  <hr />
  <h1>Mis ordenes</h1>
  <div class="grid-container">
    <div *ngFor="let orden of ordenes" class="grid-item">
      <div class="card">
        <h4>Orden {{ orden.id_orden }}</h4>
        <hr />
        <h5>Resumen:</h5>
        <p>Nombre: {{ orden.nombre }}</p>
        <p>Nit: {{ orden.nit }}</p>
        <p><b>Total: Q.</b> {{ orden.total }}</p>
        <hr />
        <p>Direccion de entrega: {{ orden.direccion }}</p>
        <p>Fecha de entrega: {{ orden.fecha.slice(0, 10) }}</p>
        <div class="d-flex row justify-content-center">
          <div class="d-inline-block w-100" ngbDropdown #myDrop="ngbDropdown">
            <button
              *ngIf="orden.id_estado_orden == 1"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-success"
            >
              Estado: Nueva orden
            </button>
            <button
              *ngIf="orden.id_estado_orden == 2"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-primary"
            >
              Estado: En preparación
            </button>
            <button
              *ngIf="orden.id_estado_orden == 3"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-warning"
            >
              Estado: En camino
            </button>
            <button
              *ngIf="orden.id_estado_orden == 4"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-info"
            >
              Estado: Entregada
            </button>
            <button
              *ngIf="orden.id_estado_orden == 5"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-danger"
            >
              Estado: Cancelada
            </button>
            <button
              *ngIf="orden.id_estado_orden == 6"
              id="dropdownManual"
              ngbDropdownAnchor
              (focus)="myDrop.open()"
              class="btn w-75 m-2 btn-secondary"
            >
              Estado: Pagada
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button
                *ngIf="orden.id_estado_orden != 1"
                (click)="orden.id_estado_orden = 1; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: Nueva orden
              </button>
              <button
                *ngIf="orden.id_estado_orden != 2"
                (click)="orden.id_estado_orden = 2; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: En preparacion
              </button>
              <button
                *ngIf="orden.id_estado_orden != 3"
                (click)="orden.id_estado_orden = 3; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: En camino
              </button>
              <button
                *ngIf="orden.id_estado_orden != 4"
                (click)="orden.id_estado_orden = 4; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: Entregada
              </button>
              <button
                *ngIf="orden.id_estado_orden != 5"
                (click)="orden.id_estado_orden = 5; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: Cancelada
              </button>
              <button
                *ngIf="orden.id_estado_orden != 6"
                (click)="orden.id_estado_orden = 6; actualizar(orden)"
                ngbDropdownItem
                class="btn m-2"
              >
                Estado: Pagada
              </button>
            </div>
          </div>

          <!-- <button (click)='eliminar()' class="btn btn-danger w-75 m-2">Eliminar</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
    text-align: center;
  }
</style>
