<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6">
      <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="productName" class="">Nombre</label>
          <input
            type="text"
            id="productName"
            [class]="
              createProductForm.get('productName').valid
                ? 'w-100 form-control is-valid'
                : 'w-100 form-control is-invalid'
            "
            formControlName="productName"
            required
          />
          <div id="productName" class="invalid-feedback">
            Ingresa el nombre del producto
          </div>
        </div>
        <div class="form-group">
          <label for="productPrice">Precio</label>
          <input
            type="number"
            min="0"
            id="productPrice"
            [class]="
              createProductForm.get('productPrice').valid
                ? 'w-100 form-control is-valid'
                : 'w-100 form-control is-invalid'
            "
            formControlName="productPrice"
            required
          />
          <div id="productPrice" class="invalid-feedback">
            Ingresa el precio del producto
          </div>
        </div>
        <div class="form-group">
          <label for="offerPrice">% de descuento por oferta</label>
          <input
            type="number"
            min="0"
            max="95"
            step="5"
            id="offerPrice"
            [class]="
              createProductForm.get('offerPrice').valid
                ? 'w-100 form-control is-valid'
                : 'w-100 form-control is-invalid'
            "
            formControlName="offerPrice"
            required
          />
          <div id="offerPrice" class="invalid-feedback">
            Ingresa el porcentaje de descuento por oferta.
          </div>
        </div>
        <div class="form-group">
          <label for="productImage">Fotografía</label>
          <input
            type="file"
            id="productImage"
            accept="image/*"
            (change)="onFileChange($event)"
            [class]="
              createProductForm.get('productImage').valid
                ? 'w-100 form-control is-valid'
                : 'w-100 form-control is-invalid'
            "
            formControlName="productImage"
            required
          />
          <div id="productImage" class="invalid-feedback">
            Ingresa la imagen del producto
          </div>
        </div>
        <div class="form-group text-center">
          <img
            [src]="productImageData"
            style="max-width: 40vh; max-height: 40vh"
          />
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!createProductForm.valid"
          >
            Crear Producto
          </button>
        </div>
      </form>
      <div
        class="alert alert-success mt-4"
        role="alert"
        *ngIf="this.successAlert"
      >
        Producto creado
      </div>
      <div class="alert alert-danger mt-4" role="alert" *ngIf="this.errorAlert">
        No se pudo crear el producto
      </div>
    </div>
  </div>
</div>
