.body{
    background: url('../../../assets/fondoLogin.jpg')100%;   
}

.trans {
    opacity: 0.5;
}

.background {
    background-color: #FFFFFF;
}

.text {
    background-color: transparent;
}

.form-group {
    background-color: rgba(255,255,255,0.5);
  }
 