<div class="container-fluid body" >
  <div class="row justify-content-center">
    <div
      *ngIf="this.alert"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <ngb-alert
        #selfClosingAlert
        *ngIf="this.alert"
        type="danger"
        (closed)="this.alert = false"
      >
        {{ this.mensaje }}
      </ngb-alert>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-5 col-md-5 col-lg-5" style="margin-top: 3vh;" >
      <form
        [formGroup]="Formulario"
        id="Formulario"
        (ngSubmit)="Login()"
        class="form-group border p-5"
      >
        <div class="form-row">
          <div class="col">
            <div class="input-group" style="width: 100%">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    />
                  </svg>
                </div>
              </div>
              <input
                type="text"
                [className]="
                  Formulario.get('User').invalid ||
                  (Formulario.get('User').invalid &&
                    Formulario.get('Usuario').touched)
                    ? 'is-invalid' + ' form-control'
                    : 'is-valid' + ' form-control'
                "
                placeholder="Usuario"
                aria-label="Usuario"
                aria-describedby="basic-addon2"
                formControlName="User"
                id="User"
              />
              <div class="invalid-feedback">
                <div *ngIf="Formulario.get('User').errors?.required">
                  Usuario Requerido
                </div>
                <div *ngIf="this.UserIncorrecto">Usuario Incorrecto</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="input-group" style="width: 100%">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <a (click)="CambiarEstado()">
                    <div *ngIf="!this.ver">
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-eye-fill"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                        />
                      </svg>
                    </div>
                    <div *ngIf="this.ver">
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-eye-slash-fill"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"
                        />
                        <path
                          d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"
                        />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>

              <input
                [type]="this.type"
                [className]="
                  Formulario.get('Password').invalid ||
                  (Formulario.get('Password').invalid &&
                    Formulario.get('ccv').touched)
                    ? 'is-invalid' + ' form-control'
                    : 'is-valid' + ' form-control'
                "
                class="form-control"
                placeholder="Contraseña"
                aria-label="password"
                aria-describedby="basic-addon2"
                formControlName="Password"
                id="Password"
              />
              <div class="invalid-feedback">
                <div *ngIf="Formulario.get('Password').errors?.required">
                  Contraseña requerida
                </div>
                <div *ngIf="this.incorrecta">Contraseña incorrecta</div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success mt-3"
          style="width: 100%"
          id="login-button"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
