<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
  </head>

  <body>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1
              *ngIf="tipo == '2'"
              style="margin-left: 69px; color: darkslategrey"
            >
              Bienvenido {{ nombre }}
            </h1>
            <h1 *ngIf="tipo == '1'" style="margin-left: 69px; color: darkblue">
              Bienvenido {{ nombre }} - Administrador
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 offset-md-0">
            <form (submit)="onSubmit()">
              <div class="form-group">
                <label>Nombre</label
                ><input
                  type="text"
                  class="form-control"
                  [(ngModel)]="nombre"
                  name="nombre"
                  placeholder="{{ nombre }}"
                />
              </div>
              <div class="form-group">
                <label>Apellido</label
                ><input
                  type="text"
                  class="form-control"
                  [(ngModel)]="apellido"
                  name="apellido"
                  placeholder="{{ apellido }}"
                />
              </div>
              <div class="form-group">
                <label>Correo electronico</label
                ><input
                  type="email"
                  class="form-control"
                  [(ngModel)]="email"
                  name="email"
                  placeholder="{{ email }}"
                />
              </div>
              <div class="form-group">
                <label>DPI</label
                ><input
                  type="number"
                  class="form-control"
                  [(ngModel)]="dpi"
                  name="dpi"
                  placeholder="{{ dpi }}"
                />
              </div>
              <div class="form-group">
                <label>Dirección</label
                ><input
                  type="text"
                  class="form-control"
                  [(ngModel)]="direccion"
                  name="direccion"
                  placeholder="{{ direccion }}"
                />
              </div>
              <div class="form-group">
                <label>Contraseña</label
                ><input
                  type="password"
                  class="form-control"
                  [(ngModel)]="password"
                  name="password"
                />
              </div>
              <div class="form-group">
                <label>Confirma tu contrseña</label
                ><input
                  type="password"
                  class="form-control"
                  [(ngModel)]="confirma"
                  name="confirma"
                />
              </div>
              <div class="col text-center">
                <button
                  class="btn btn-primary"
                  (click)="onSubmit()"
                  type="button"
                  style="width: 182px; height: 50px; margin-bottom: 30px"
                >
                  Actualizar
                </button>
              </div>
            </form>
            <p></p>
            <div *ngIf="alerta == 1">
              <ngb-alert type="success" style="margin-bottom: 30px">{{
                "La informacion de tu perfil ha sido actualizada correctamente!"
              }}</ngb-alert>
            </div>
            <div *ngIf="alerta == 2">
              <ngb-alert type="danger" style="margin-bottom: 30px">{{
                "Revisa que la informacion ingresada sea correcta y las contraseñas coincidan!"
              }}</ngb-alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
