<div style=" background: rgb(194, 79, 94);">
  <div class="grid-container">
    <div class="grid-item">
      <button
        *ngIf="tipoUser != '1'"
        (click)="verAnterior()"
        class="btn btn-info"
      >
        Anterior
      </button>
    </div>
    <div class="grid-item">
      <h1>🍴 {{ nombreRestaurante }}</h1>
    </div>
    <div class="grid-item">
      <button
        *ngIf="tipoUser != '1'"
        (click)="verSiguiente()"
        class="btn btn-success"
      >
        Siguiente
      </button>
    </div>
  </div>

  <button
    style="width: 100%"
    *ngIf="productosCarrito.length > 0"
    (click)="open(content2)"
    class="btn btn-success"
  >
    Realizar pedido 📦
  </button>

  <h1>Productos en oferta 🎉</h1>

  <!--CUADRICULA DE PRODUCTOS OFERTADOS-->
  <div class="cards">
    <div *ngFor="let producto of productosOferta" class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            src="{{ producto.fotografia }}"
            alt="imagen"
            style="width: 100%"
          />
        </div>
        <div class="card_content">
          <h3 class="card_title">{{ producto.nombre }}</h3>

          <p class="price">Q. {{ producto.oferta }}</p>
          <p>
            Antes:<del style="color: red">Q. {{ producto.precio }}</del>
          </p>
          <button
            *ngIf="tipoUser != '1'"
            (click)="open(content)"
            class="btn btn-success"
            style="margin-right: 10px"
          >
            Comprar
          </button>
          <button
            *ngIf="tipoUser == '1'"
            (click)="editar(producto.id_producto)"
            class="btn btn-info"
            style="margin-right: 10px"
          >
            Editar
          </button>
          <button
            *ngIf="tipoUser == '1'"
            (click)="eliminar(producto.id_producto)"
            class="btn btn-danger"
            style="margin-right: 10px"
          >
            Eliminar
          </button>
        </div>

        <!--VISTA DEL PRODUCTO-->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Agregar al carrito
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label *ngIf="producto.oferta == 0"
              >Precio unitario: Q.{{ producto.precio }}</label
            >
            <label *ngIf="producto.oferta != 0"
              >Precio unitario: Q.{{ producto.oferta }}</label
            >
            <form>
              <div class="form-group">
                <div class="form-group">
                  <label>Cantidad</label
                  ><input
                    type="number"
                    class="form-control"
                    [(ngModel)]="cantidad"
                    name="cantidad"
                  />
                </div>
              </div>
            </form>
            <h6 *ngIf="producto.oferta == 0">
              <b> Subtotal: </b>{{ cantidad * producto.precio }}
            </h6>
            <h6 *ngIf="producto.oferta != 0">
              <b> Subtotal: </b>{{ cantidad * producto.oferta }}
            </h6>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="
                comprar(producto.id_producto, producto.oferta, producto.nombre);
                modal.dismiss('custom')
              "
            >
              Agregar✔
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <hr />

  <h1>Todos los productos</h1>

  <!--VISTA DEL CARRITO-->
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Carrito de compras 🛒</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="form-group">
            <label>Nombre</label
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="nombreOrden"
              name="nombreOrden"
            />
          </div>
          <div
            class="btn-group btn-group-toggle"
            ngbRadioGroup
            name="radioBasic"
            [(ngModel)]="model"
          >
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="1" /> Recoger en tienda
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" [value]="2" /> A domicilio
            </label>
          </div>
          <div *ngIf="model == 2" class="form-group">
            <label>Direccion</label
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="direccion"
              name="direccion"
            />
          </div>
          <div class="form-group">
            <label>NIT</label
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="nit"
              name="nit"
            />
          </div>
          <label for="entrega">Fecha de entrega</label>
          <div class="input-group">
            <input
              id="entrega"
              class="form-control"
              [(ngModel)]="fecha"
              placeholder="yyyy-mm-dd"
              name="db"
              ngbDatepicker
              #dp="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="dp.toggle()"
                type="button"
              >
                📆
              </button>
            </div>
          </div>
        </div>
      </form>

      <div *ngFor="let producto of productosCarrito">
        <pre
          (click)="quitarProducto(producto.indice)"
        >🔹 <b>{{producto.nombre}}</b>                       Q. {{producto.precio}}          ❌</pre>
      </div>

      <h4><b>Total: </b>{{ total }}</h4>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="ordenar()">
        Ordenar 💰
      </button>
    </div>
  </ng-template>

  <!--CUADRICULA DE PRODUCTOS-->
  <div class="cards">
    <div *ngFor="let producto of productos" class="cards_item">
      <div class="card">
        <div class="card_image">
          <img
            [src]="producto.fotografia"
            alt="imagen"
            style="width: 20vh; height: 20vh"
          />
        </div>
        <div class="card_content2">
          <h3 class="card_title">{{ producto.nombre }}</h3>

          <p class="price">Q. {{ producto.precio }}</p>

          <!--VISTA DEL PRODUCTO-->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Agregar al carrito
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label>Precio unitario: Q.{{ producto.precio }}</label>
              <form>
                <div class="form-group">
                  <div class="form-group">
                    <label>Cantidad</label
                    ><input
                      type="number"
                      class="form-control"
                      [(ngModel)]="cantidad"
                      name="cantidad"
                    />
                  </div>
                </div>
              </form>
              <h6><b> Subtotal: </b>{{ cantidad * producto.precio }}</h6>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-success"
                (click)="
                  comprar(
                    producto.id_producto,
                    producto.precio,
                    producto.nombre
                  );
                  modal.dismiss('custom')
                "
              >
                Agregar✔
              </button>
            </div>
          </ng-template>

          <button
            *ngIf="tipoUser != '1'"
            (click)="open(content)"
            class="btn btn-success"
            style="margin-right: 10px"
          >
            Comprar
          </button>
          <button
            *ngIf="tipoUser == '1'"
            (click)="editar(producto.id_producto)"
            class="btn btn-info"
            style="margin-right: 10px"
          >
            Editar
          </button>
          <button
            *ngIf="tipoUser == '1'"
            (click)="eliminar(producto.id_producto)"
            class="btn btn-danger"
            style="margin-right: 10px"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <hr />
  <hr />
</div>

<!--Estilos personalizados-->
<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card_content {
    padding: 1rem;
    background: #fffd9e;
  }

  .card_content2 {
    padding: 1rem;
    background: #9effdf;
  }

  .card_title {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }

  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
  .price {
    color: grey;
    font-size: 25px;
  }

  .card {
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .cardOffer {
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: yellow;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
    text-align: center;
  }
</style>
