<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container" >
  <div class="card bg-light" >
    <article class="card-body mx-auto" style="max-width: 600px; background: rgb(156, 230, 243);">
      <div class="d-flex mt-3 justify-content-center">
        <img src="../assets/logo.png" width="100" alt="logo" />
      </div>
      <h4 class="card-title mt-3 text-center">Crea tu cuenta</h4>
      <form >
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            name="nombre"
            [(ngModel)]="usuario.nombre"
            class="form-control ml-1"
            placeholder="Nombre"
            type="text"
          />
          <input
            name="apellido"
            [(ngModel)]="usuario.apellido"
            class="form-control ml-1"
            placeholder="Apellidos"
            type="text"
          />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            name="correo"
            [(ngModel)]="usuario.correo"
            class="form-control ml-1"
            placeholder="Correo electrónico"
            type="email"
          />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-id-card"></i>
            </span>
          </div>
          <input
            name="dpi"
            [(ngModel)]="usuario.dpi"
            class="form-control ml-1"
            placeholder="DPI"
            type="text"
          />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-home"></i> </span>
          </div>
          <input
            name="direccion"
            [(ngModel)]="usuario.direccion"
            class="form-control ml-1"
            placeholder="Dirección"
            type="text"
          />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <input
            name="area"
            [(ngModel)]="usuario.area"
            class="form-control ml-1 text-center"
            style="max-width: 100px"
            placeholder="Área"
            type="text"
            value="+502"
          />
          <input
            name="telefono"
            [(ngModel)]="usuario.telefono"
            class="form-control ml-1"
            placeholder="Teléfono"
            type="text"
          />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            name="password"
            [(ngModel)]="usuario.password"
            class="form-control ml-1"
            placeholder="Contraseña"
            type="password"
          />
          <input
            name="confirm"
            [(ngModel)]="usuario.confirm"
            class="form-control ml-1"
            placeholder="Confirmación"
            type="password"
          />
        </div>
        <input
          type="checkbox"
          id="tipo"
          name="tipo"
          [(ngModel)]="usuario.tipo"
        />
        <label for="tipo"> Cuenta de restaurante 🍕</label>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            (click)="registrar()"
          >
            Crear cuenta
          </button>
        </div>

        <p class="text-center">
          ¿Ya tienes una cuenta? <a href="login">Iniciar Sesión</a>
        </p>

        <ngb-alert
          #selfClosingAlert
          *ngIf="mensaje"
          [type]="this.alerta"
          (closed)="mensaje = ''"
        >
          {{ mensaje }}
        </ngb-alert>
      </form>
    </article>
  </div>
</div>
